name: Publish Docker Image [CPU]

on: [workflow_dispatch]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Publish to Registry
      uses: elgohr/Publish-Docker-Github-Action@main
      env:
        GPU_MODE: CPU_ONLY
      with:
        name: OliviaNocentini/docker-openpose
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        workdir: dockerfiles
        registry: ghcr.io
        buildargs: GPU_MODE
        tags: "cpu"
